ansible-infra/collections/*
terraform-infra/.terraform/*
terraform-infra/*.pub
# terraform-infra/*.tfvars
terraform-infra/*.tfvars.json
terraform-infra/*.tfstate
terraform-infra/*.tfstate.*
terraform-infra/.terraform.lock.hcl